/* -------------------------------------------------------------------- SALLE DU CONSEIL -------------------------------------------------------------------- */

body.emplacement main {
    background-color: #0e0e0e; // Background de la page du conseil (pour l'effet fondu sur les bords)
}

#scene {
    // Toutes les images sont dans la #scene, l'image de fond (#SalleDuConseil) comme tous les personnages, elles sont redimensionnées grace au scale du body (js)
    height: 100%;
    width: 100%;
    overflow: hidden;

    #salleDuConseil {
        position: absolute;
        height: 900px;
        width: 1600px;
        top: 50%;
        left: 50%;
        background-image: url('https://makh.fr/divers/img/salleConseil.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        box-sizing: border-box;
        border: 5px solid #0e0e0e;
        border-radius: 20%;
        box-shadow: 0 0 15px 15px #0e0e0e inset;
    }

    a div {
        position: absolute;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:hover {
            filter: brightness(2);
        }
    }
}