/* -------------------------------------------------------------------- SALLE DU CONSEIL -------------------------------------------------------------------- */

body.emplacement main {
    background-color: #0e0e0e; // Background de la page du conseil (pour l'effet fondu sur les bords)
}

#scene {
    // Toutes les images sont dans la #scene, l'image de fond (#SalleDuConseil) comme tous les personnages, elles sont redimensionnées grace au scale du body (js)
    height: 100%;
    width: 100%;
    overflow: hidden;

    #salleDuConseil {
        position: absolute;
        height: 900px;
        width: 1600px;
        top: 50%;
        left: 50%;
        background-image: url('../../divers/img/salleConseil.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        box-sizing: border-box;
        border: 5px solid #0e0e0e;
        border-radius: 20%;
        box-shadow: 0 0 15px 15px #0e0e0e inset;
    }

    a div {
        position: absolute;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:hover {
            filter: brightness(2);
        }
    }
}
    /*
    // Les personnages sont positionnés uniquement avec des % afin de permettre une adaptativité totale
    .adhemar {
        background-image: url("../../divers/img/personnages/conseil/adhemarMin.png");
        top: 53%;
        left: 60%;
        width: calc(5 * 50px);
        height: calc(5 * 80px);
        z-index: 1;

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/adhemar2.png");
            transform: scale(1.05);
            top: 52%;
        }
    }

    .aleksia {
        background-image: url("../../divers/img/personnages/conseil/aleksiaMin.png");
        top: 45%;
        left: 20%;
        height: calc(3.8 * 80px);
        width: calc(3.8 * 50px);
        z-index: 5;

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/aleksia2.png");
            transform: scale(1.15);
        }
    }

    .alexandra {
        top: 5%;
        left: 7%;
        height: calc(5.5 * 80px);
        width: calc(5.5 * 50px);
        background-image: url("../../divers/img/personnages/conseil/dameAlexandraMin.png");

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/dameAlexandra2.png");
            transform: scale(1.2);
        }
    }

    .ancelin {
        top: 45%;
        left: 30%;
        height: calc(5.3 * 80px);
        width: calc(5.3 * 50px);
        background-image: url("../../divers/img/personnages/conseil/pereAncelinMin.png");

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/pereAncelin2.png");
            transform: scale(1.15);
        }
    }

    .jalana {
        top: 48%;
        left: 59.5%;
        height: calc(1.8 * 80px);
        width: calc(1.8 * 50px);
        background-image: url("../../divers/img/personnages/conseil/jalanaMin.png");
        z-index: 5;

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/jalana2.png");
            transform: scale(1.2);
        }
    }

    .jimmy {
        top: 50%;
        left: 46.25%;
        height: calc(1.75 * 80px);
        width: calc(1.75 * 50px);
        background-image: url("../../divers/img/personnages/conseil/jimmyMin.png");
        z-index: 5;

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/jimmy2.png");
            transform: scale(1.25);
        }
    }

    .laurain {
        top: 45%;
        left: 2%;
        height: calc(6 * 80px);
        width: calc(6 * 50px);
        background-image: url("../../divers/img/personnages/conseil/laurainSansreprocheMin.png");

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/laurainSansreproche2.png");
            transform: scale(1.05);
        }
    }

    .precis {
        top: 51.5%;
        left: 92%;
        height: calc(2 * 80px);
        width: calc(2 * 50px);
        background-image: url("../../divers/img/personnages/conseil/precisSansreprocheMin.png");
        z-index: 5;
        perspective-origin: bottom right;

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/precisSansreproche2.png");
            transform: scale(1.1);
        }
    }

    .seleste {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 51.25%;
        height: calc(1.5 * 80px);
        width: calc(1.5 * 50px);
        background-image: url("../../divers/img/personnages/conseil/selesteMin.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 5;

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/seleste2.png");
            transform: scale(1.2);
            filter: brightness(2);
        }
    }

    .tenebres {
        top: 48%;
        left: 85%;
        height: calc(2 * 80px);
        width: calc(2 * 50px);
        background-image: url("../../divers/img/personnages/conseil/tenebresSansreprocheMin.png");
        z-index: 10;

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/tenebresSansreproche2.png");
            transform: scale(1.2);
        }
    }

    .tharion {
        top: 45%;
        left: 49%;
        height: calc(5.5 * 80px);
        width: calc(5.5 * 50px);
        background-image: url("../../divers/img/personnages/conseil/tharionMin.png");
        z-index: 3;

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/tharion2.png");
            transform: scale(1.1);
        }
    }

    .vaillant {
        top: 48%;
        left: 75%;
        height: calc(5 * 80px);
        width: calc(5 * 50px);
        background-image: url("../../divers/img/personnages/conseil/vaillantSansreprocheMin.png");

        &:hover {
            background-image: url("../../divers/img/personnages/conseil/vaillantSansreproche2.png");
            transform: scale(1.1);
        }
    }
*/