footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100vw;
    background-color: lightblue;
    box-sizing: border-box;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    //p {}
}

body.accueil footer {
    display: none;
}