@font-face {
    font-family: "vecna";
    src: url("https://makh.fr/divers/fonts/vecna.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "vecna";
    src: url("https://makh.fr/divers/fonts/vecnaBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'vecna';
    src: url("https://makh.fr/divers/fonts/vecnaItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'vecna';
    src: url("https://makh.fr/divers/fonts/vecnaBoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "dalelands";
    src: url("https://makh.fr/divers/fonts/dalelands.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dalelands";
    src: url("https://makh.fr/divers/fonts/dalelandsBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'dalelands';
    src: url("https://makh.fr/divers/fonts/dalelandsItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'dalelands';
    src: url("https://makh.fr/divers/fonts/dalelandsBoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "quentincaps";
    src: url("https://makh.fr/divers/fonts/quentincaps.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}