#User & Mdp Base de données
config.php

#Modules Node.js
/node_modules/

#Fichiers compilés
/assets/

#Ancien fichiers
/conseil/

#Fichiers de configuration
/divers/

#Polices
/fonts/

#fichiers images
/img/
/svg/