/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./css/main.scss ***!
  \********************************************************************************************************/
@font-face {
  font-family: "vecna";
  src: url(fonts/4eaf72efdf740ebbe253.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vecna";
  src: url(fonts/951e13fc05de176e15ef.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "vecna";
  src: url(fonts/8a6e97fe5d036ca4a641.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "vecna";
  src: url(fonts/c96fb855da5d503b40a5.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "dalelands";
  src: url(fonts/17092a0980071535822e.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dalelands";
  src: url(fonts/a38e1044202d1a0f90ae.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "dalelands";
  src: url(fonts/f8594c5d7701b0997b51.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "dalelands";
  src: url(fonts/cf79bd24f553a8989319.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "quentincaps";
  src: url(fonts/04606dc666b92d335a95.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

body:not(.accueil) {
  height: 100%;
  width: 100%;
}
body:not(.accueil) main {
  padding-top: 100px;
  min-height: 200vh;
  height: fit-content;
  width: 100vw;
  background-color: aliceblue;
  overflow: scroll;
}

header {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100vw;
  background-color: lightblue;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.accueil header {
  display: none;
}

html body.personnage header {
  padding: 0;
  height: 8vh;
  width: 96vw;
  margin: auto;
  margin-bottom: 2vh;
  flex: none;
}
html body.personnage header nav {
  position: relative;
  width: calc(100% - 20px);
  padding: 0 10px !important;
  background-color: antiquewhite;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 1.5s;
  display: flex;
  column-gap: 10px;
  box-shadow: 0 0 5px 5px black inset;
}
html body.personnage header nav:first-child {
  top: 0;
  z-index: 2;
  transform: rotateX(0deg);
}
html body.personnage header nav:first-child #retour {
  display: block;
  justify-self: flex-start;
  align-self: center;
  background-image: url(images/8fc5cdb9553090af0c1e.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: contain;
  overflow: visible;
  min-height: 80%;
  width: 100%;
}
html body.personnage header nav:last-child {
  position: relative;
  top: -8vh;
  transform: rotateX(180deg);
}
html body.personnage header nav:last-child #edition {
  all: initial;
  align-self: center;
  visibility: hidden;
  height: 80%;
  width: clamp(70px, 15vw, 150px);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: clamp(0.9rem, 2vw, 2rem);
  cursor: pointer;
  background: rgba(0, 128, 0, 0.25);
}
html body.personnage header nav:last-child #edition:hover {
  filter: brightness(1.5);
  text-shadow: 0.5px 0.25px 0px black;
}
html body.personnage header nav:last-child #validation {
  all: initial;
  align-self: center;
  opacity: 0;
  justify-self: end;
  height: 80%;
  width: clamp(70px, 15vw, 150px);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: clamp(0.9rem, 2vw, 2rem);
  cursor: pointer;
  background: rgba(0, 128, 0, 0.25);
}
html body.personnage header nav:last-child #validation:hover {
  filter: brightness(1.5);
  text-shadow: 0.5px 0.25px 0px black;
}

@media all and (max-width: 1000px) {
  body:not(.accueil) header {
    padding: 0 !important;
    height: 8vh !important;
    width: 96vw !important;
  }
}
@media all and (max-width: 1000px) and (orientation: landscape) {
  body:not(.accueil) header {
    padding: 0 !important;
    height: 8vh !important;
    width: 96vw !important;
  }
}
footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100vw;
  background-color: lightblue;
  box-sizing: border-box;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.accueil footer {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

body.accueil {
  overflow: hidden;
}

main.content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html body main.content.max div.plein-ecran div.developper {
  opacity: 0;
}
html body main.content.max div.plein-ecran div.reduire {
  opacity: 1;
}
html body main.content.max section.informations {
  transform: scaleX(1) scaleY(1) !important;
}
html body main.content.max section.utilitaires div.boussole {
  top: 10%;
}
html body main.content.max section.utilitaires div.echelle {
  top: 25%;
}

section.informations {
  position: absolute;
  z-index: 2;
  pointer-events: auto;
  height: 100vh;
  width: 100vw;
  margin: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  border: 10px solid #c8ad7f;
  background-color: whitesmoke;
  transform-origin: right bottom;
  transition: transform 0.75s;
  overflow: hidden;
}
section.informations div.bordure {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border: 5px solid black;
}
section.informations #infos {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
section.informations #infos > div {
  flex: 1 1 150px;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  container-type: inline-size;
}
section.informations #infos > div h1,
section.informations #infos > div p,
section.informations #infos > div a,
section.informations #infos > div ul {
  pointer-events: auto;
  margin: 0;
  padding: 0;
}
section.informations #infos > div li {
  list-style: none;
}
section.informations #infos > div h1 {
  font-size: clamp(1.25rem, 10cqi, 2rem);
  margin-bottom: 5px;
}
section.informations #infos > div a,
section.informations #infos > div p.lien {
  font-size: clamp(1rem, 11cqi, 1.6rem);
}
section.informations #infos > div p:not(.description, .lien),
section.informations #infos > div ul {
  font-size: clamp(0.9rem, 10cqi, 1.5rem);
}
section.informations #infos > div p.description {
  font-size: clamp(0.75rem, 8cqi, 1.5vh);
  overflow: auto;
}

section.utilitaires {
  position: absolute;
  pointer-events: none;
  transform-origin: top left;
  width: 2550px;
  aspect-ratio: 51/33;
  z-index: 1;
}
section.utilitaires div.bordure,
section.utilitaires div.boussole,
section.utilitaires div.echelle {
  position: absolute;
}
section.utilitaires div.bordure svg,
section.utilitaires div.boussole svg,
section.utilitaires div.echelle svg {
  height: 100%;
  width: 100%;
}
section.utilitaires div.boussole,
section.utilitaires div.echelle {
  pointer-events: auto;
  cursor: pointer;
  transition: top 0.75s;
}
section.utilitaires div.boussole::after,
section.utilitaires div.echelle::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: whitesmoke;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 6px 10px 8px rgba(0, 0, 0, 0.3), 3px 5px 4px rgba(0, 0, 0, 0.5);
}
section.utilitaires div.plein-ecran {
  display: none;
  position: fixed;
  pointer-events: auto;
  cursor: pointer;
  top: 10px;
  right: 10px;
  height: 100px;
  aspect-ratio: 1/1;
  background-color: whitesmoke;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 6px 10px 8px rgba(0, 0, 0, 0.3), 3px 5px 4px rgba(0, 0, 0, 0.5);
}
section.utilitaires div.plein-ecran div.developper,
section.utilitaires div.plein-ecran div.reduire {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
}
section.utilitaires div.plein-ecran div.developper {
  background-image: url(images/a93bd05efd81480e8875.png);
}
section.utilitaires div.plein-ecran div.reduire {
  background-image: url(images/a0e27481a6c5215bb0cf.png);
  opacity: 0;
  top: -100%;
}
section.utilitaires div.bordure {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.utilitaires div.bordure path.bordure.noire {
  fill: #000;
}
section.utilitaires div.bordure path.bordure.beige {
  fill: #c8ad7f;
}
section.utilitaires div.boussole {
  top: 70%;
  left: 5%;
  height: 150px;
  aspect-ratio: 1/1;
  transform-origin: center;
  transform: translateX(11.25px);
}
section.utilitaires div.boussole::after {
  top: -12.5%;
  left: -7.5%;
  height: 125%;
  width: 125%;
  border-radius: 50%;
}
section.utilitaires div.boussole path {
  fill-rule: evenodd;
  fill: #000;
  stroke: #000;
  stroke-width: 5px;
  stroke-opacity: 1;
}
section.utilitaires div.echelle {
  top: 85%;
  left: 5%;
  width: 566.7px;
  height: 35px;
  transform-origin: left;
  transform: translateX(100px);
}
section.utilitaires div.echelle::after {
  top: -100%;
  left: -100px;
  height: 200%;
  width: calc(100% + 150px);
  border-radius: 10px;
}
section.utilitaires div.echelle path {
  fill-rule: evenodd;
  fill: #000;
  stroke: #000;
  stroke-width: 10px;
  stroke-opacity: 1;
}
section.utilitaires div.echelle .graduations {
  position: absolute;
  height: 120%;
  top: -100%;
  left: calc(-20% - 70px);
  width: 140%;
  border-radius: 10px;
  padding: 0px 30px 28px 70px;
  display: flex;
  flex-direction: row;
}
section.utilitaires div.echelle .graduations div {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: grid;
}
section.utilitaires div.echelle .graduations div p {
  position: relative;
  margin: 0;
  padding: 0;
  width: fit-content;
}
section.utilitaires div.echelle .graduations div:not(:first-child) {
  align-content: flex-end;
  justify-items: flex-start;
  font-size: 200%;
}
section.utilitaires div.echelle .graduations div:not(:first-child) p {
  height: fit-content;
  transform: translateX(-50%);
}
section.utilitaires div.echelle .graduations div:first-child {
  align-content: flex-start;
  justify-items: flex-end;
  font-size: 180%;
}
section.utilitaires div.echelle .graduations div:first-child p {
  left: -35px;
  height: 70px;
  display: grid;
  place-content: center;
}

section.container {
  position: absolute;
  transform-origin: top left;
  width: 2550px;
  aspect-ratio: 51/33;
  overflow: scroll;
  scrollbar-width: none;
}
section.container::-webkit-scrollbar {
  display: none;
}
section.container div.feerune {
  position: relative;
  transform-origin: top left;
  width: 100%;
  height: 100%;
  filter: brightness(1.25);
}
section.container div.feerune > #background {
  position: absolute;
  width: 100%;
  height: 100%;
}
section.container svg > g > g {
  pointer-events: none;
}
section.container svg {
  position: absolute;
}
section.container svg #valbalafre {
  pointer-events: auto;
  cursor: pointer;
}
section.container svg #valbalafre:hover {
  fill: red;
  fill-opacity: 0.4;
}
section.container svg path {
  fill-rule: evenodd;
  fill: transparent;
  transition: 0.5s;
}
section.container path.divers:not(.nom):hover {
  cursor: pointer;
}
section.container path.bordure.beige {
  fill: #c8ad7f;
}
section.container path.bordure.noire {
  fill: #000;
}
section.container path:not(.bordure, .divers:not(.nom)) {
  fill: black;
  fill-opacity: 0.15;
}
section.container g:not(.divers):hover path.region.mer {
  fill: rgb(50, 149, 182);
}
section.container g:not(.divers):hover path.nom.mer {
  fill: red;
}
section.container g:not(.divers):hover path.region.zone:not(.nom, .mer) {
  fill: green;
  fill-opacity: 0.6;
}
section.container g:not(.divers):hover path.region.nom:not(.mer) {
  fill: red;
}

html body.emplacement header,
html body.emplacement footer {
  display: none;
}
html body.emplacement main {
  padding-top: 0;
  min-height: 100vh;
  max-height: 100vh;
}

/* -------------------------------------------------------------------- SALLE DU CONSEIL -------------------------------------------------------------------- */
body.emplacement main {
  background-color: #0e0e0e;
}

#scene {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#scene #salleDuConseil {
  position: absolute;
  height: 900px;
  width: 1600px;
  top: 50%;
  left: 50%;
  background-image: url(images/93d574ca6b269c2a1ed0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  border: 5px solid #0e0e0e;
  border-radius: 20%;
  box-shadow: 0 0 15px 15px #0e0e0e inset;
}
#scene a div {
  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform-origin: bottom center;
}
#scene a div:hover {
  filter: brightness(2);
}
#scene .adhemar {
  background-image: url(images/97f8730d4edd0890c5b9.png);
  top: 53%;
  left: 60%;
  width: 250px;
  height: 400px;
  z-index: 1;
}
#scene .adhemar:hover {
  background-image: url(images/9fca2557481666bedba2.png);
  transform: scale(1.05);
  top: 52%;
}
#scene .aleksia {
  background-image: url(images/26c98afcb3918094e2bf.png);
  top: 45%;
  left: 20%;
  height: 304px;
  width: 190px;
  z-index: 5;
}
#scene .aleksia:hover {
  background-image: url(images/9a53ec5e5738d97ab601.png);
  transform: scale(1.15);
}
#scene .alexandra {
  top: 5%;
  left: 7%;
  height: 440px;
  width: 275px;
  background-image: url(images/4cb6fcbd2a5190da321a.png);
}
#scene .alexandra:hover {
  background-image: url(images/3a06762b83b7e58736c3.png);
  transform: scale(1.2);
}
#scene .ancelin {
  top: 45%;
  left: 30%;
  height: 424px;
  width: 265px;
  background-image: url(images/8fca96ecfdc80986308f.png);
}
#scene .ancelin:hover {
  background-image: url(images/38b3fcf31f59efd11ced.png);
  transform: scale(1.15);
}
#scene .jalana {
  top: 48%;
  left: 59.5%;
  height: 144px;
  width: 90px;
  background-image: url(images/c5d63093f5bc011e0e1a.png);
  z-index: 5;
}
#scene .jalana:hover {
  background-image: url(images/c0535483a353ac803698.png);
  transform: scale(1.2);
}
#scene .jimmy {
  top: 50%;
  left: 46.25%;
  height: 140px;
  width: 87.5px;
  background-image: url(images/fc58759459acad82a440.png);
  z-index: 5;
}
#scene .jimmy:hover {
  background-image: url(images/7b533f0920285cee721a.png);
  transform: scale(1.25);
}
#scene .laurain {
  top: 45%;
  left: 2%;
  height: 480px;
  width: 300px;
  background-image: url(images/d89520943ba4680f8032.png);
}
#scene .laurain:hover {
  background-image: url(images/1c91194eebe24f52b776.png);
  transform: scale(1.05);
}
#scene .precis {
  top: 51.5%;
  left: 92%;
  height: 160px;
  width: 100px;
  background-image: url(images/ddf60df49b1b9508427d.png);
  z-index: 5;
  perspective-origin: bottom right;
}
#scene .precis:hover {
  background-image: url(images/d7d8a29e89e96bc5490d.png);
  transform: scale(1.1);
}
#scene .seleste {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 51.25%;
  height: 120px;
  width: 75px;
  background-image: url(images/c4e4c5a6db963171f916.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}
#scene .seleste:hover {
  background-image: url(images/a7e666c64ca36d790ad0.png);
  transform: scale(1.2);
  filter: brightness(2);
}
#scene .tenebres {
  top: 48%;
  left: 85%;
  height: 160px;
  width: 100px;
  background-image: url(images/772a238b74dbb40455f3.png);
  z-index: 10;
}
#scene .tenebres:hover {
  background-image: url(images/4707de3fc29798d3759f.png);
  transform: scale(1.2);
}
#scene .tharion {
  top: 45%;
  left: 49%;
  height: 440px;
  width: 275px;
  background-image: url(images/d9f7d1ba971984a4eda5.png);
  z-index: 3;
}
#scene .tharion:hover {
  background-image: url(images/2c6fc1bd7cbe3d1a67bc.png);
  transform: scale(1.1);
}
#scene .vaillant {
  top: 48%;
  left: 75%;
  height: 400px;
  width: 250px;
  background-image: url(images/dd9654dcf0c71ebcf7f9.png);
}
#scene .vaillant:hover {
  background-image: url(images/361c4b957a9dc2794fb9.png);
  transform: scale(1.1);
}
